@import "./../../assets//Colors.scss";
.tool-container {
  padding-top: 10vh;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  .clear-btn {
    background-color: $main-faded;
    width: 100% !important;
    // border-radius: 50%;
  }
  .clear-btn:hover {
    background-color: $main-light;
  }
  .buttons-container{
    width: 100%;
    a{
        width: 50%;
        background-color: $main-faded;
    }
  }
  #brush-size-slider {
      border: none;
      color: $main-dark
      ;
  }
}
