@import "./../../assets//Colors.scss";
.tool-container {
  padding-top: 10vh;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  // Slider color style
  input[type=range]::-webkit-slider-thumb {
    background-color: $main-dark;
  }
  input[type=range]::-moz-range-thumb {
    background-color: $main-dark;
  }
  input[type=range]::-ms-thumb {
    background-color: $main-dark;
  }

  .clear-btn {
    background-color: $main-faded;
    width: 100% !important;
    border-radius: 10px;
  }
  .clear-btn:hover {
    background-color: $main-light;
  }
  .buttons-container{
    width: 100%;
    margin-top: 5px;
    a{
        width: 50%;
        background-color: $main-faded;
        border-radius: 10px;
    }
  }
  #brush-size-slider  {
      border: none;
      color: $main-dark;
  }

}
 