.tool-container {
  padding-top: 10vh;
  max-width: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.tool-container .clear-btn {
  background-color: #580838;
  width: 100% !important;
}

.tool-container .clear-btn:hover {
  background-color: #8a5273;
}

.tool-container .buttons-container {
  width: 100%;
}

.tool-container .buttons-container a {
  width: 50%;
  background-color: #580838;
}

.tool-container #brush-size-slider {
  border: none;
  color: #580838;
}
