.color-palete-container {
  padding: 0 !important;
  width: 80px;
  border: solid 1px black;
  top: 15vh;
  left: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.color-palete-container .color-box {
  height: 40px;
  cursor: pointer;
}
