.color-palete-container {
  padding: 0 !important;
  width: 100% !important;
  top: 15vh;
  left: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.color-palete-container .color-box {
  height: 40px;
  cursor: pointer;
  border-radius: 10%;
  border: solid grey 1px;
}
