.color-palete-container{
    padding: 0 !important;
    width: 80px;
    border: solid 1px black;
    top:15vh;
    left:30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    .color-box{
        height: 40px;
        cursor: pointer;
    }
}