.color-palete-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px;
    .color-box{
        height: 50px;
        width: 50px;
        cursor: pointer;
        border-radius: 50%;
    }
}