.color-palete-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
}

.color-palete-container .color-box {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}
