.chat-container {
  border: black solid 1px;
  border-bottom: none;
  border-top: none;
  height: 60vh;
  position: relative;
}

.chat-container .chat-header {
  background-color: #14213d;
  color: white;
  margin-top: 0;
}

.chat-container .chat-body {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 70%;
}

.chat-container .chat-body .msg {
  border-bottom: solid 1px black;
  min-height: 40px;
  text-align: center;
}

.chat-container .input-field {
  bottom: 0;
  position: absolute;
}

.chat-container .send-btn-container {
  width: 100%;
  border: solid 1px red;
}

.chat-container .send-btn-container .btn-large {
  background-color: #14213d;
  width: 100%;
}
