.chat-container{
    border:  black solid 1px;
    border-top:none;
    min-height: 25vw;
    .chat-header{
        background-color:  #14213d;
        color: white;
        margin-top: 0;
    }
    .chat-body{
        min-height: 60vh;
        .msg{
            border-bottom: solid 1px black;
            min-height: 40px;
            text-align: center;
        }
    }
    .btn-large{
        background-color:  #14213d;
    }
}