.chat-container{
    border:  black solid 1px;
    border-bottom: none;
    border-top:none;
    height: 60vh;
    position: relative;
    
    .chat-header{
        background-color:  #14213d;
        color: white;
        margin-top: 0;
    }
    .chat-body{
        overflow-y: scroll;
        overflow-x:hidden;
        max-height: 70%;
        .msg{
            border-bottom: solid 1px black;
            min-height: 40px;
            text-align: center;
        }
    }
    .input-field{
        bottom: 0;
        position: absolute ; 

    }
    .send-btn-container{
        width: 100%;
        border:solid 1px red;
        .btn-large{
            background-color:  #14213d;
            width: 100%;
        }
    }
}