@import "./../../assets/Colors.scss";
#chat-container {
  position: fixed;
  display: none;
  bottom: 150px;
  right: 28px;
  width: 280px;
  z-index: 1000;
  .form-container {
    max-width: 300px;
    padding: 10px;
    border: $main-dark solid 2px;
    background-color: $main-dark;
    border-radius: 1%;
    box-shadow: 15px 25px 10px 1px rgba(0, 0, 0, 0.431);
    border-radius: 3%;
    .chat-header {
      background-color: $main-dark;
      color: white;
      margin-top: 0;
    }
    .textarea-input {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none ;
      background: whitesmoke;
      resize: none;
      min-height: 50px;
      // color: white;
    }
    .textarea-output {
      width: 100%;
      padding: 15px;
      border: none;
      // background: #bdfbfd1f;
      background: whitesmoke;
      max-height: 30vh;
      color: white;
      box-sizing: border-box;
      overflow: auto;
      min-height: 20vh;
    }
    .chat-message {
      background-color: $main;
      display: grid;
      grid-template-columns: 1fr 4fr;
      border-radius: 3% !important;
      padding: 5px;
      border-bottom: solid $main-light 1px;
      img {
        border-radius: 50%;
        height: 40px;
      }
      span {
        color: rgba(0, 0, 0, 0.7);
      }
      p {
        text-align: justify;
        padding-left: 5px;
        height: 100%;
      }
    }
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .btn-container {
    display: flex;
    justify-content: space-around;
    .btn, .btn-large, .btn-small{
      background-color: "#ffcc66" !important;//jebi ovo 
    }
    .cancel {
      background-color: "#ffcc66";
      border-radius: 8%;
    }
    .send {
      background-color: "#ffcc66";
      border: rgba(255, 255, 255, 0.226) 1px solid;
      border-radius: 8%;
    }
    .send:hover {
      background-color: $main-light;
    }
    .cancel:hover {
      background-color: $main-light;
    }
  }
}

.open-button {
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  background-color: $main-dark;
  font-family: acme-regular !important;

}

.open-button:hover {
  background-color: $main-light;
}
