@import "./assets/Colors.scss";

body {
  // background-image: url("./assets/images/sara.jpg");
  // background-image: url("./assets/images/SARAA.jpg");
  background-color: $main-dark;
  // background-repeat:repeat;
}

@font-face {
  font-family: acme-regular;
  src: url("./assets/fonts/Acme-Regular.ttf");
}
* {
  font-family: acme-regular;
}
