@import '../../assets/Colors.scss';

.register-user-page-container{
    h1{
        color: rgb(105, 7, 31);
        font-size: 10em;
    }
    label{
        color:$main-dark ;
    }
    input{
        color:$main-dark ;
    }
}

