@import "../../assets/Colors.scss";

.register-user-page-container {
  h1 {
    color: $main-faded;
    font-size: 10em;
  }
  label {
    color: $main-faded;
  }
  input {
    color: $main-dark;
  }
  .join-btn {
    background-color: $main-faded;
    border-radius: 10px;
  }
}
