.whiteboard-container {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  width: 800px;
}

.whiteboard-container canvas {
  border: #ebe4e4 solid 15px;
  cursor: crosshair;
  border-color: #1481ba;
  border-image-slice: 40;
  border-image-repeat: stretch;
  -webkit-box-shadow: 0px 0px 800px 1px black;
          box-shadow: 0px 0px 800px 1px black;
}

.word-input {
  color: #001021;
  border-color: #001021 !important;
  font-size: 1.5em;
}

.word-input .input-field {
  margin-top: 40px;
}

.word-input .input-field input {
  border-bottom: 2px solid #001021;
}

.word-input .submit-word-btn {
  background-color: #001021;
  border-radius: 10px;
}

.word-input .submit-word-btn:hover {
  background-color: #034748;
  border-radius: 10px;
}

.gallery-btn-div {
  margin-top: 30px;
  width: 100%;
}

.gallery-btn-div a {
  width: 100%;
  background-color: #1481ba;
}

.gallery-btn-div a:hover {
  background-color: #034748;
}
