.whiteboard-container {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 800px;
  canvas {
    border: rgb(240, 162, 162) solid 20px;
    // border-image-source: url("../../assets/images/SARAA.jpg")  ;
    border-image-repeat: space ;
    background-color: rgb(216, 193, 193);
    border-radius: 10%;
    cursor:crosshair;
  }
}
