.whiteboard-container {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  width: 800px;
}

.whiteboard-container canvas {
  border: #f0a2a2 solid 20px;
  border-image-repeat: space;
  background-color: #d8c1c1;
  border-radius: 10%;
  cursor: crosshair;
}
