.whiteboard-container {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 800px;
  canvas {
    border: black solid 1px;
    background-color: white;
  }
}
