@import './../../assets/Colors.scss';
nav {
  // border-bottom: solid black 2px;
  text-align: center;
  background-image: linear-gradient($main-light, $main-dark, $main-light);
  font-size: 2em;
  
}
